html, body {
	margin: 0;
	padding: 0;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.jumbotron {
    height: 800px;
    background: url("/broadway/images/broadway_background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

.nav {
    margin: o;
    padding: 20px 0;
}

.nav li {
    display: inline;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.main {
    position: relative;
    top: 180px;
    text-align: center;
}