html, body {
	margin: 0;
	padding: 0;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.jumbotron {
    height: 800px;
    background: url(https://s3.amazonaws.com/codecademy-content/projects/broadway/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav {
    margin: o;
    padding: 20px 0;
}