.div {
	display: block;
}

.container {
	max-width: 940px;
	margin: 0 auto;
	padding: 0;
}

.jumbotron {
	height: 600px;
	background: url("/images/haburina_background.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}