.jumbotron {
	height: 500px;
	background: url(/images/haburina_background.jpg) no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}