html, body {
	font-family: "Montserrat", sans-serif;
}

.header {
	background-color: #30627E;
}

li {
	display: list-item;
    text-align: -webkit-match-parent;
}

.jumbotron {
	height: 500px;
	background: url("/adoptly/images/adoptly_background.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron h1 {
	color: #E52364;
	display: block;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 63px;
	line-height: 69.3000030517578px;
	margin: 20px 0 0 10px;
	text-align: center;
}

.supporting {
	text-align: center;
	padding: 30px 30px 50px 30px;
}

.supporting p {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	min-height: 80px;
}