html, body {
	font-family: "Montserrat", sans-serif;
}

.navbar-inverse {
	border-radius: 0;
	background-image: none;
	background-color: #30627E;
}

.jumbotron {
	height: 800px;
	background: url("/adoptly/images/adoptly_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron h1 {
	color: #E52364;
}